*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/libs/
app/src/main/res/drawable/
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
app-release.apk
